// ----------------------
// Make p5 fill the background
// ----------------------
body { 
    margin: 0px;
}
#defaultCanvas0 {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -999;
}

#defaultCanvas1 {
    position: absolute;
    left: 50%;
    margin-left:-250px;
    top: 50%;
    margin-top:-250px;
}

// ----------------------
// Images
// ----------------------
.image-alone {
    max-width: 85%;
    max-height: 85%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    -o-object-fit: contain;
    object-fit: contain;
}
// ----------------------
// 
// ----------------------

#themes-list {
    // border: solid red;

    display: flex;
    justify-content: center;
}

.theme {

}

.theme-past {
    color: rgb(255, 218, 69);
}

.theme-present {
    color: rgb(255, 33, 37);
    font-weight: bold;
}

a {
    color: rgb(255, 218, 69);
}

.theme-future {
    color: gray;
}

.column {
    margin: 10px 80px;
}

.thumbnail {
    height: 50px;
    margin: 5px;
}

.theme-and-thumbnail {
    display: flex;
}